h2 {
  font-size: xx-large;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  border: 3px solid red;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}

.sidebar {
  /* border: 3px solid red; */
  grid-area: 1 / 1 / 6 / 2;
  display: grid;
  grid-template-rows: 1fr 4fr 2fr 4fr;
  gap: 30px;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sidebar-title {
  /* border: 3px solid blue; */
  display: grid;
  grid-template-rows: 1 fr;
  font-size: 33px;
}

.sidebar-top {
  /* border: 3px solid blue; */
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.sidebar-bottom {
  /* border: 3px solid blue; */
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.title-icon-and-description {
  /* border: 2px solid purple; */
  display: grid;
  grid-template-columns: 0.1fr 1fr 5fr;
  align-items: center;
  gap: 15px;
  margin-top: 20px
}

.icon-and-description {
  /* border: 2px solid purple; */
  display: grid;
  grid-template-columns: 0.5fr 1fr 5fr;
  align-items: center;
  gap: 10px;
}

.icon {
  /* border: 1px solid green; */
  grid-column: 2 / 3;
}

.description {
  /* border: 1px solid green; */
  grid-column: 3 / 4;
}

.header {
  border: 3px solid red;
  grid-area: 1 / 2 / 2 / 6;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header-top {
  border: 3px solid blue;
}

.header-bottom {
  border: 3px solid blue;
}

.main-content {
  border: 3px solid red;
  grid-area: 2 / 2 / 6 / 6;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.main-cards-header-and-cards {
  border: 3px solid blue;
}

.main-cards-header {
  border: 2px solid purple;
}

.main-cards {
  border: 2px solid purple;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

.card {
  border: 1px solid green;
  height: 222px;
}

.main-sides {
  border: 3px solid blue;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.main-sides-top {
  border: 2px solid purple;
  display: grid;
}

.main-sides-top-header {
  border: 2px solid green;
}

.main-sides-top-items {
  border: 2px solid green;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.main-sides-top-item {
  border: 1px solid;
  height: 100px;
}

.main-sides-bottom {
  border: 2px solid purple;
  display: grid;
}

.main-sides-bottom-header {
  border: 2px solid green;
}

.main-sides-bottom-items{
  border: 2px solid green;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.main-sides-bottom-item {
  border: 1px solid;
  height: 75px;
}
